/* color palette url https://www.palettable.io/000000-E0DFDD-FFFFFF-FBFBF8-EFEFEF */

:root {
  --black: #000000;
  --white: #FFFFFF;
  --offWhite: #FBFBF8;
  --darkGrey: #8E8E8E;
  --grey: #E0DFDD;
  --lightGrey: #EFEFEF;
  --red: #C11111;
  --blue: #0813AA;
  --brightBlue: #4874FB;
  --brightGreen: #66BC0C;
}

body {
  font-family: 'Lato', sans-serif !important;
  background: var(--white) !important;
  color: var(--black) !important;
  text-transform: capitalize !important;
}

.homepage-title {
  font-family: 'Pinyon Script' !important;
  color: var(--black) !important;
  letter-spacing: 0.3rem;
}

.text-title {
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase !important;  
}

.text-light {
  color: var(--darkGrey);
}

.text-red {
  color: var(--red);
}

.text-blue {
  color: var(--blue);
  /* z-index: 100 !important; */
}

.the-nav {
  text-transform: capitalize;
}

.video-react-controls-enabled {
  position: relative !important;
  /* z-index: -101 !important; */
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  z-index: -100 !important;
  width: 100% !important;
  padding-top: 0% !important;
}

.jumbotron {
  padding: 0rem 0rem !important;
  margin-bottom: 0rem !important;
  background-color: var(--white) !important;
  border-radius: .0rem !important;
  z-index: 110 !important;
}
